.App{
    font-family: HM;
    height: 100vh;
    display: flex;
    background-color: #5C9CE5;
}
.cityTempContainer{
    flex: 25%;
    height: 100%;
    background-image: url(./images/image_processing20200827-9685-19sa6ui-01.jpeg);
    background-repeat: no-repeat;
    background-position: bottom left;
    color: white;
}
.container1{
    height: 45vh;
    width: 80%;
    position: relative;
    margin: 40px;
    display: block;
}
.handyFunctions{
    height: 10%;
    width: 100%;
    display: flex;
}
.addButton{
    height: 100%;
    flex: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pageToggle{
    height: 100%;
    flex: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tempToggle{
    height: 100%;
    flex: 33%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cityDetails{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cityName{
    width: 100%;
    height: 60%;
    display: block;
}
.t11{
    height: 50%;
    width: 100%;
    margin-top: 5px;
    display: flex;
}
.cityText{
    height: 100%;
    flex: 70%;
    display: flex;
    align-items: flex-start;
    font-size: 18px;
}
.cityText1{
    height: 100%;
    flex: 70%;
    display: flex;
    align-items: flex-start;
    font-size: 16px;
}
.cityTime{
    height: 100%;
    width: 30%;
    display: flex;
    font-size: 18px;
    align-items: flex-start;
}
.t12{
    height: 50%;
    width: 100%;
    display: flex;
}
.temperature{
    width: 100%;
    height: 65%;
    display: block;
}
.container6{
    width: 100%;
    height: 90%;
    display: flex;
}
.leftArrow{
    flex: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightArrow{
    flex: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tempText{
    flex: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 130px;
}
.container7{
    width: 85%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detailsConatiner{
    flex: 75%;
    height: 100%;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    background-color: #E4F1FF;
}
.userWelcome{
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container3{
    height: 90%;
    width: 90%;
}
.container4{
    margin-top: 30px;
    width: 100%;
    height: 70%;
    display: flex;
}
.welcomeText{
    flex: 88%;
    display: block;
}
.t1{
    font-weight: 600;
    font-size: 20px;
}
.t2{
    font-weight: 200;
    font-size: 18px;
}
.userProfile{
    flex: 12%;
    display: flex;
}
.moreOption{
    height: 100%;
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.userPic{
    height: 100%;
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;    
    cursor: pointer;
}
.futurePrediction{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2{
    height: 90%;
    width: 90%;
    border-radius: 30px;
    display: block;
    background-color: white;
}
.extraInfo{
    width: 100%;
    height: 55%;
}
.chart{
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.todaysDetails{
    width: 100%;
    height: 48%;
    margin-top: 20px;
    display: block;
}
.moreDetailText{
    width: 100%;
    height: 12%;
}
.moreDetailText span{
    margin-left: 77px;
}
.detailsChart{
    width: 100%;
    height: 88%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container5{
    width: 90%;
    height: 100%;
    display: block;
}
.row1{
    width: 100%;
    height: 40%;
    display: flex;
}
.col1{
    height: 100%;
    width: 25%;
    border-radius: 40px;
    background-color: white;
}
.col2{
    height: 100%;
    width: 25%;
    margin-left: 60px;
    border-radius: 40px;
    background-color: white;
}
.col3{
    height: 100%;
    width: 25%;
    margin-left: 60px;
    border-radius: 40px;
    background-color: white;
}
.row2{
    margin-top: 20px;
    width: 100%;
    height: 40%;
    display: flex;
}
.col4{
    height: 100%;
    width: 25%;
    border-radius: 40px;
    background-color: white;
}
.col5{
    height: 100%;
    width: 25%;
    margin-left: 60px;
    border-radius: 40px;
    background-color: white;
}
.col6{
    height: 100%;
    width: 25%;
    margin-left: 60px;
    border-radius: 40px;
    background-color: white;
}